/* Resiting and main styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* Utilities Classes */
.container{
    width: 1100px;
    margin: 0 auto;
    padding: 10px 20px;
}
h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 30px;
    border-bottom: #1f2937 3px solid;
    display: inline-block;
}
.btn{
    background-color: orangered;
    color: #f9faf8;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 8px;
}
.text-center {
    text-align: center;
}
/* Navbar */

.navbar{
    background-color:#1f2937 ;
    height: 80px;
    padding: 15px 0;
}
.logo{
    width:20%;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 2rem;

}
.navbar a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

/* Hero */

.hero{
    background: linear-gradient(
        to right,
        #1f2937 10%,
        #1f2937d5
      ),
      url("./imgs/bg-pizza.jpg") top/cover;
    height: calc(100vh - 80px);
}

.hero .container {
    height: 100%;
    display: flex;
    align-items: center ;
}

.hero h1{
    font-weight: bold;
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 15px;
}
.hero p {
    color: #e5e7eb;
}
.hero .container div {
    width: 55%;
    padding: 30px 0;
}
.hero .container div *{
    margin-bottom:30px ;
}

/* Crew Section */

.crew-section .cards {
    display: flex;
    gap: 1rem;
}
.crew-section .card {
    width: 100%;
    border-radius: 15px;
    padding: 50px 10px;
}
.crew-section img {
    border: rgba(255, 68, 0, 0.811) 3.5px solid ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.crew-section h3 {
    font-size: 11px;
}
.title {
    color: orangered;
    font-size: 14px;
}

/* About us section */

.about-section{
    background-color: #e5e7eb;
    padding-bottom: 50px;

}
.about-section .container {
    width: 1020px;
}
.about-section p {
    line-height: 1.5; 
}