/* Resiting and main styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* Utilities Classes */
.container{
    width: 1100px;
    margin: 0 auto;
}
h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 30px;
    border-bottom: #1f2937 3px solid;
    display: inline-block;
}
.btn{
    background-color: orangered;
    color: #f9faf8;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 8px;
}
.text-center {
    text-align: center;
}
/* Navbar */

.navbar{
    background-color:#1f2937 ;
    height: 80px;
    padding: 15px 0;
}
.logo{
    width:20%;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 2rem;

}
.navbar a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

/* Hero */

.hero{
    background: linear-gradient(
        to right,
        #1f2937 10%,
        #1f2937d5
      ),
      url("./imgs/bg-pizza.jpg") top/cover;
    height: calc(100vh - 80px);
}

.hero .container {
    height: 100%;
    display: flex;
    align-items: center ;
}

.hero h1{
    font-weight: bold;
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 15px;
}
.hero p {
    color: #e5e7eb;
}
.hero .container div {
    width: 55%;
    padding: 30px 0;
}
.hero .container div *{
    margin-bottom:30px ;
}

/* Crew Section */

.crew-section .cards {
    display: flex;
    gap: 1rem;
}
.crew-section .card {
    width: 100%;
    border-radius: 15px;
    padding: 50px 10px;
}
.crew-section img {
    border: rgba(255, 68, 0, 0.811) 3.5px solid ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.crew-section h3 {
    font-size: 11px;
}
.title {
    color: orangered;
    font-size: 14px;
}

/* About us section */

.about-section{
    background-color: #e5e7eb;
    padding-bottom: 50px;

}
.about-section .container {
    width: 900px;
}
.about-section p {
    line-height: 1.5; 
}


/* Contact us section */
.contact-section{
    background-color: #1f2937;
}

.contact-section .contact-us {
    background-image: linear-gradient(
        105deg,
        #1f2937 0%,
        #1f2937 65%,
        #1f2937f1 65%
      );
    background-size:contain;
    width: 1000px;
    height: 500px;
    padding-top: 20px;
    color: #e5e7eb;
    display: flex;
}
.contact-us-form{
    flex-basis: 100%;
}
.contact-us-form > *:not(:nth-child(5)) {

    margin-left: 7rem;
}

.contact-us h2 {
    border: none;
    letter-spacing: 2px;
    margin-bottom: 4rem;
    display: block;
    color: #e5e7eb;
}

.contact-us .form-input{
    padding: 15px 20px;
    border: none;
    width: 75%;
    display: block;
    margin-bottom: 3rem;
}

.form-input:focus{
    outline: none;
}


.form-radio-group {
    width: 28%;
    display: inline-block;
}

.form-radio-input {
    display: none;
}
.form-radio-label {
    cursor: pointer;
    position: relative;
    padding-left: 45px;

}
.form-radio-button {
    height: 30px;
    width: 30px;
    display: inline-block;
    border: 5px orangered solid;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -0.4rem;
}

.form-radio-input:checked + label span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: orangered;
}

.submit{
    margin-top: 4.5rem;
}


.dilevry{
    width: 500px;
}

